/*Styles applicable for body*/
body {
    padding:0px; margin: 0px; width:100%; height:100%; font-family: Arial;
}

.tappable {cursor: hand; cursor: pointer;}

/*Styles applicable for header of the app*/
.header {width: 100%; height: 70px; background-color:#333333;min-width:1220px;}
.header img {position:relative;top:13px;left:5px;}
/*Styles govering the UI of tabs*/
.tabbar {width: 100%; height: 40px; background-color: #e6e6e6;min-width:1220px;}
.tabitem {padding: 11px 20px 7px 20px; font-size: 14pt; float:left; cursor: hand; cursor: pointer;}
.tabitem-active {color: #333333; background-color: white}
.tabitem-inactive {color: #808080; background-color: #e6e6e6}
.tabitem:first-of-type {margin-left: 40px; }

/*Styles applicable for the main content area of the app*/
.contentarea {position: relative; height: -moz-calc(100% - 110px);height: -webkit-calc(100% - 110px); height: calc(100% - 110px);  min-width:1000px;}

